<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        body, html {width: 100%; height: 100%; margin: 0; padding: 0}
        .first-row {position: absolute;top: 0; left: 0; right: 0; height: 120px;}
        .second-row {position: absolute; top: 120px; left: 0; right: 0; bottom: 0; }
        .second-row iframe {display: block; width: 100%; height: 100%; border: none;}

    </style>
</head>
<body onload="getDevices()" style="padding: 20px">
{#    <div id="container">#}
    <div class="first-row">
        <div class="float-left">
            <div id="inputs" style="width: 600px">
                <div class="input-group">
                  <input id="text-input" type="text" class="form-control" aria-label="Text input with segmented dropdown button" onkeyup="filter()" value="">
                  <div class="input-group-append">
                    <button id="down-button" type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div id="dropdown-content" class="dropdown-menu" style="width: 600px; overflow-y:scroll; height:400px;">
                    </div>
                    <button id="connect" class="btn btn-outline-secondary" type="button" onclick="prepareTerminal()" disabled>Connect!</button>
                  </div>
                </div>
            </div>
            <div class="float-left">
                <div id="id" class="float-left">0</div>
                <div id="message" class="float-left" style="margin-left: 10px; margin-right: 10px"></div>
                <div id="countdown" class="float-left"></div>
            </div>

        </div>
        <form id="form" class="float-right" action="/login/" method="post">
            {% csrf_token %}
            <input type="text" class="form-control input-sm" id="exampleInputEmail1" name="username" placeholder="Username">

            <input type="password" class="form-control input-sm" id="exampleInputPassword1" name="password" placeholder="Password">

            <button type="submit" class="btn-sm btn-primary">Submit</button>

        </form>
    </div>
    <div class="second-row">
        <iframe id="terminal"></iframe>
    </div>

{#    </div>#}


    <script>
        var device_list=[];
        var CurrDeviceId;
        var CurrDeviceName;
        {#var startTime;#}
        var countdown;

        $('#form').submit(function(){
            $.ajax({
              url: $('#form').attr('action'),
              type: 'POST',
              data : $('#form').serialize(),
              success: function(result){
                console.log(result);
                if(result==="True"){
                    $('#connect').prop("disabled", false)
                }
                else{
                    $('#connect').prop("disabled", true)
                }
              }
            });
            return false;
        });
        function prepareTerminal(){
            {#if(!loginSuccessful){#}
            {##}
            {# }#}
            $.ajax({
              url: "/terminal/",
              type: "GET",
              data:{DeviceId: CurrDeviceId},
              success: function(result){
                  {#console.log(document.domain);#}
                  console.log(result);

                  clearInterval(countdown);
                  if(result.pending===true){
                      document.getElementById("message").innerText=" The status of this port is PENDING";
                  }
                  else{
                      if(result.port!=null){
                          document.getElementById("terminal").src = "http://" + document.domain + ":" + result.port;
                          document.getElementById("message").innerText=" Your session will expire after ";
                      }
                      else{
                          document.getElementById("message").innerText=" Currently using by others. Wait ";
                      }
                      startCountDown(result.lastAccessTime);
                  }

              }
            });
        }
        function selectDevice(DeviceId, DeviceName){
            CurrDeviceId = DeviceId;
            CurrDeviceName = DeviceName;
            console.log(DeviceId);
            document.getElementById("id").innerText=DeviceName;
            document.getElementById("text-input").value=DeviceName;
        }
        function getDevices() {
            console.log("get device");
            var source = new WebSocket("ws://" + window.location.host + "/ws/devices/");
            source.onmessage = function(event) {
                console.log("received message");
                device_list = JSON.parse(event.data);
                console.log(device_list);
                showDropdown();
            };
            source.onerror = function (error) {
                console.log(error)
            };
        }
        function showDropdown(){
            document.getElementById("dropdown-content").innerHTML="";
            {#console.log(device_list);#}
            for(i=0; i<device_list.length; i++){
                {#console.log(device_list[i]);#}
                if(device_list[i].name.includes(document.getElementById("text-input").value)){
                    document.getElementById("dropdown-content").innerHTML+="<a class=\"dropdown-item\" onclick=\"selectDevice('"+device_list[i].deviceId+"','"+device_list[i].name+"')\">"+device_list[i].name+"</a>";
                }

            }
        }
        function filter(){
            {#console.log(document.getElementById("text-input").value)#}
            if(document.getElementById("text-input").value){
                {#document.getElementById("down-button").dropdown();#}
                $('#down-button').dropdown('show')
            }
            else{
                $('#down-button').dropdown('hide')
            }
            showDropdown();
        }
        
        function startCountDown(last_access_time) {
            countdown = setInterval(function() {

              // Get today's date and time
              var now = new Date().getTime();

              // Find the distance between now and the count down date
              var distance = 1200000 - (now - Date.parse(last_access_time));
              {#console.log(now, Date.parse(last_access_time));#}
              {#console.log(distance);#}

              // Time calculations for hours, minutes and seconds
              var hours = Math.floor(distance / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);

              // Display the result in the element with id="demo"
              document.getElementById("countdown").innerHTML = hours + "h "
              + minutes + "m " + seconds + "s ";

              // If the count down is finished, write some text
              if (distance < 0) {
                clearInterval(countdown);
                document.getElementById("countdown").innerHTML = "EXPIRED";
              }
            }, 1000);
        }
    </script>

</body>

</html>